.year-selector {
  display: flex;
  flex-direction: column;

  &-item {
    color: #8193b2;
    padding: 10px 45px 10px 10px;
    border-radius: 4px;
    cursor: pointer;
    
    &.focus {
      background: #1F6EEB !important;
    }
  }
  &-item:hover {
    background: #161B22;
  }
}