.commit-activity { 
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  align-items: center;

  &-header {
    color: #fff;
    font-size: 16px;
  }

  &-graphs {
    display: flex;
  }
}
