.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &-header {
    z-index: 10;
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .repo-name-wrapper-btn {
    border: 1px solid rgb(98, 116, 151);
    color: rgb(98, 116, 151);
    padding: 0px 30px;
    font-size: 16px;
    outline: none;
    background: transparent;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 12px;
    z-index: 10;
    margin-right: 20px;
  }

  .repo-name-wrapper-btn:disabled {
    background-color: #555;
    cursor: not-allowed;
    opacity: 0.6;
  }

  &-middle {
    z-index: 1;
    position: absolute;
  }
  &-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    z-index: 10;
    position: relative;

    .text-container {
      padding: 20px;
      background: #0c162d;
      width: 600px;

      .repo-name {
        color: #00cfc8;
        font-family: "Space Mono", monospace;
        font-size: 16px;
        font-weight: 600;
        margin-top: 20px;

        &-wrapper {
          width: 100%;
          display: flex;
          align-items: center;

          &-input {
            width: calc(100% - 20px);
            background: transparent;
            outline: none;
            border: none;
            font-size: 20px;
            color: #8193b2;
            margin-top: 1rem;
            padding: 10px;
            border: 1px solid #3d444db3;
          }
          &-input:active,
          &-input:focus {
            border: 1px solid blue;
          }
        }
      }
    }
  }
}
